body {
  margin: 0;
  padding: 0;
  color: #1d1d1d;
  background: #ececec;
}
.app-header {
  z-index: 99999;
}
.tabs-content {
  margin-top: 20px;
  background: #ffffff;
  margin-bottom: 30px;
}
.transparent-btn {
  background: transparent;
  border: 0;
  box-shadow: none;
  outline: none; 
}
button:focus {
  outline: none;
}